<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="{% url 'core:generate-users' %}">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Send"/>
</form>
</body>
</html>