<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Users - {{ request.user.username }} - {{ salam }}</h1>
<ul>
    {% for user in users %}
        <li>{{ user.username }}</li>
    {% endfor %}

</ul>
</body>
</html>