{% load static %}
{% load i18n %}
    <li class="" style="{% if in_plan %}{% else %}background:#fff3f3{% endif %}">
        <h3 class="todo-blue">{{ daily_inc__item.name }}</h3>
        <p>{{ daily_inc__item.address }}</p>
        <div class="todo-project-item-foot">
            <p class="todo-red todo-inline">{{ daily_inc__item.minute }} {% trans 'Minutes' %}</p>
        </div>
    </li>
    <div class="todo-projects-divider"></div>

