{% load static %}{% load i18n %}
<tr>
    <td colspan="2">
        <h3 class="todo-blue">{{ employee_get_plans_w_d_get_location.location.name }}</h3>
        <p>{{ employee_get_plans_w_d_get_location.location.address }}</p>
        <p class="todo-red todo-inline">{{ work_hour }} - {{ end_work_hour }} | {{ employee_get_plans_w_d_get_location.location.minute }} {% trans 'Minutes' %}</p>
        {% if employee_get_plans_w_d_get_location.location.note %}
            <p>{{ employee_get_plans_w_d_get_location.location.note }}</p>
        {% endif %}
    </td>
</tr>