{% load i18n %}
  <table class="table table-striped" style="width:33%; float:left;">
    <thead>
      <tr>
        <th>{% trans 'Week' %}: {{ week_item }}  |  {% trans 'Day' %}: {{ employee_work_day.day.get_day_name }} </th>
      </tr>
    </thead>
    <tbody>