{% load static %}{% load i18n %}
<!DOCTYPE html>
<html>
   <head>
      <title>{% trans 'Plan' %}</title>
{#       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">#}

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
       <style>thead tr {padding: 10px;background: #3B3F51;min-height: 48px;color: #fff;line-height: 40px;}tbody tr td {background: aliceblue;border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;}</style>
   </head>
   <body>

    {{ html }}

   </body>
</html>