{% extends "admin/base.html" %}
{% load i18n %}
{% block title %}{{ title }} | {% trans 'System Administration' %}{% endblock %}

{% block extrastyle %}

{% endblock %}
{% block extrahead %}

{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{% trans 'Timeopt' %}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}