{% load static %}
{% load i18n %}


{#{% for employee_get_plans_w_d_get_location in employee_get_plans_w_d.get_locations %}#}
    <li class="todo-projects-item {{ employee_get_plans_w_d }} {% if forloop.counter == 1 %}todo-active{% endif %}">
        <h3 class="todo-blue">{{ employee_get_plans_w_d_get_location.location.name }}</h3>
        <p>{{ employee_get_plans_w_d_get_location.location.address }}</p>
        <div class="todo-project-item-foot">
            <p class="todo-red todo-inline">{{ work_hour }} - {{ end_work_hour }} | {{ employee_get_plans_w_d_get_location.location.minute }} {% trans 'Minutes' %}</p>
            {% if profile_type and profile_type == 'admin-person' %}
                <p class="">
                    <button onclick="showOtherPlans('{% url 'userprofile:admin-employee-plan-form-generate-ajax' %}',{{ employee_get_plans_w_d.id }},{{ employee_get_plans_w_d_get_location.location.id }},'{% url 'userprofile:admin-employee-plan-form-location-ajax' employee_get_plans_w_d.id employee_get_plans_w_d_get_location.location_id %}','{% url 'userprofile:admin-change-customer-position-ajax' employee_get_plans_w_d_get_location.id  %}')" type="button" class="btn btn-circle yellow btn-outline  btn-block" data-toggle="modal" data-target="#edit-location-order-modal">
                        <i class="fa fa-edit"></i>
                        {% trans 'Edit' %}
                    </button>
                </p>
            {% endif %}

        </div>
    </li>
    <div class="todo-projects-divider"></div>
{#{% endfor %}#}








