{% load static %}
{% load i18n %}
{% get_available_languages as languages %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="{% if base_company_information %} {{ base_company_information.company_name }} {% endif %}" name="description" />
        <meta content="" name="author" />
        <title>{% block title_container %}{% endblock %} | {% if base_company_information %} {{ base_company_information.company_name }} {% endif %}</title>
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        {% block head_container %}{% endblock %}
        <!-- END GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{% static 'theme/assets/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'theme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'theme/assets/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'theme/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEGINS -->
        <link href="{% static 'theme/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'theme/assets/global/plugins/morris/morris.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'theme/assets/global/plugins/fullcalendar/fullcalendar.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'theme/assets/global/plugins/jqvmap/jqvmap/jqvmap.css' %}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{% static 'theme/assets/global/css/components-md.min.css' %}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{% static 'theme/assets/global/css/plugins-md.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{% static 'theme/assets/layouts/layout4/css/layout.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'theme/assets/layouts/layout4/css/themes/default.min.css' %}" rel="stylesheet" type="text/css" id="style_color" />
        <link href="{% static 'theme/assets/layouts/layout4/css/custom.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.15.0/sweetalert2.min.css" rel="stylesheet" type="text/css" />

        <link href="{% static 'theme/assets/apps/css/todo.min.css' %}" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="{% static 'theme/assets/favicon.ico' %}" /> </head>
    <!-- END HEAD -->

    <body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo page-md" style="    overflow-x: hidden;">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="{% url 'userprofile:dashboard' %}">
                        <img src="{% static 'theme/assets/layouts/layout4/img/logo-light.png' %}" alt="logo" class="logo-default" /> </a>
                    <div class="menu-toggler sidebar-toggler">
                        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                    </div>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN PAGE ACTIONS -->

                <!-- BEGIN PAGE TOP -->
                <div class="page-top">
                    <!-- BEGIN HEADER SEARCH BOX -->
                    <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
{#                    <form class="search-form" action="page_general_search_2.html" method="GET">#}
{#                        <div class="input-group">#}
{#                            <input type="text" class="form-control input-sm" placeholder="Search..." name="query">#}
{#                            <span class="input-group-btn">#}
{#                                <a href="javascript:;" class="btn submit">#}
{#                                    <i class="icon-magnifier"></i>#}
{#                                </a>#}
{#                            </span>#}
{#                        </div>#}
{#                    </form>#}
                    <!-- END HEADER SEARCH BOX -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <li class="separator hide"> </li>
                            <!-- BEGIN NOTIFICATION DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <!-- DOC: Apply "dropdown-hoverable" class after "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
                            <!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->


                            <!-- END INBOX DROPDOWN -->
                            <li class="separator hide"> </li>
                            <!-- BEGIN TODO DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <li class="dropdown dropdown-extended dropdown-tasks dropdown-dark text-center" id="header_task_bar">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="fa fa-globe"></i>
                                    <span class="badge badge-primary"> {{ LANGUAGE_CODE }} </span>
                                </a>
                                <ul class="dropdown-menu extended tasks" style="width: 175px;min-height: 200px;height: 200px;">
                                {% for language in languages %}
                                    {% if language.0 == LANGUAGE_CODE %}
                                    <li class="external">
                                        <h3 class="text-center">
                                            <span class="bold">{{ language.1|title }}</span></h3>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                                    <li>
                                        <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                                            {% for language in languages %}
                                                {% if language.0 != LANGUAGE_CODE %}
                                                    <li>
                                                        <a href="{% url 'set_language' %}?language={{ language.0 }}&next={{ request.path }}">
                                                            <span class="bold">{{ language.1|title }}</span></h3>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- END TODO DROPDOWN -->
                            <!-- BEGIN USER LOGIN DROPDOWN -->
                            <!-- BEGIN USER LOGIN DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <li class="dropdown dropdown-user dropdown-dark">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <span class="username username-hide-on-mobile"> {% if base_profile.user.first_name or base_profile.user.last_name %} {{ base_profile.user.first_name }} {{ base_profile.user.last_name }}{% else %}{{ base_profile.user.username }}{% endif %}</span>
                                    <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                                    <img alt="" class="img-circle" src="{% if base_profile.image %}{{ base_profile.image.url }}{% else %}{% static 'theme/assets/pages/media/users/avatar-def-user.png' %}{% endif %}" /> </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="{% url 'userprofile:dashboard' %}">
                                            <i class="icon-user"></i> {% trans 'Dashboard' %} </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'userprofile:log-out' %}">
                                            <i class="icon-key"></i> {% trans 'Log Out' %} </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END PAGE TOP -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <!-- BEGIN SIDEBAR -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN SIDEBAR MENU -->
                    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        {% if base_profile.type == 'admin-person' %}
                            <li class="nav-item start">
                                <a href="{% url 'admin:index' %}" class="nav-link nav-toggle">
                                    <i class="icon-settings"></i>
                                    <span class="title">{% trans 'Adminstration' %}</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item start active open">
                            <a href="{% url 'userprofile:dashboard' %}" class="nav-link nav-toggle">
                                <i class="icon-home"></i>
                                <span class="title">{% trans 'Dashboard' %}</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        {% if base_profile.type == 'admin-person' %}
                            <li class="heading">
                                <h3 class="uppercase">{% trans 'Admin Opertations' %}</h3>
                            </li>
                            <li class="nav-item  " id="left-nav-item-main-plan">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="fa fa-calendar"></i>
                                    <span class="title">{% trans 'Plans' %}</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="{% url 'userprofile:admin-customer-upload-from-excel' %}" class="nav-link ">
                                            <span class="title">{% trans 'Add Customer From Excel' %}</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="{% url 'userprofile:plan-prepare' %}" class="nav-link ">
                                            <span class="title">{% trans 'Plan Prepare' %}</span>
                                        </a>
                                    </li>
{#                                    <li class="nav-item  ">#}
{#                                        <a href="{% url 'userprofile:all-plans' %}" class="nav-link ">#}
{#                                            <span class="title">{% trans 'Show All Plans' %}</span>#}
{#                                        </a>#}
{#                                    </li>#}
                                    <li class="nav-item  ">
                                        <a href="{% url 'userprofile:admin-all-employees-plans' %}" class="nav-link ">
                                            <span class="title">{% trans 'Employees and Plans' %}</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="{% url 'userprofile:all-customer-dates' %}" class="nav-link ">
                                            <span class="title">{% trans 'Plan out customers' %}</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="{% url 'userprofile:admin-all-customers' %}" class="nav-link ">
                                            <span class="title">{% trans 'Customers' %}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% elif base_profile.type == 'employee-person' %}
                            <li class="heading">
                                <h3 class="uppercase">{% trans 'My Opertations' %}</h3>
                            </li>
                            <li class="nav-item  " id="left-nav-item-main-plan">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="fa fa-building"></i>
                                    <span class="title">{% trans 'Plans' %}</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="{% url 'userprofile:my-plans' %}" class="nav-link ">
                                            <span class="title">{% trans 'My Plans' %}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                        {% endif %}
                            <li class="heading">
                                <h3 class="uppercase">{% trans 'Change Profile Datas' %}</h3>
                            </li>
                            <li class="nav-item  " id="left-nav-item-profile-data">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="icon-key"></i>
                                    <span class="title">{% trans 'Change Profile Datas' %}</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="{% url 'userprofile:change-password' %}" class="nav-link ">
                                            <span class="title">{% trans 'Change Password' %}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                    </ul>
                    <!-- END SIDEBAR MENU -->
                </div>
                <!-- END SIDEBAR -->
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            {% block content_container %}



            {% endblock %}
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-login"></i>
            </a>
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="page-footer-inner">
                {{ now.year }} &copy; {% if base_company_information %} {{ base_company_information.company_name }} {% endif %}
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->
        <!--[if lt IE 9]>
<script src="{% static 'theme/assets/global/plugins/respond.min.js' %}"></script>
<script src="{% static 'theme/assets/global/plugins/excanvas.min.js' %}"></script>
<script src="{% static 'theme/assets/global/plugins/ie8.fix.min.js' %}"></script>
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->

        <script src="{% static 'theme/assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
{#        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAc2KAE8d9QEtMDLQTLayqzba7yFT-uO6o&language=en&sensor=false"></script>#}

{#        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
        <script src="{% static 'theme/assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/assets/global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/assets/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{% static 'theme/assets/global/plugins/moment.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/assets/global/plugins/morris/morris.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/assets/global/plugins/morris/raphael-min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/assets/global/plugins/counterup/jquery.waypoints.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/assets/global/plugins/counterup/jquery.counterup.min.js' %}" type="text/javascript"></script>
{#        <script src="{% static 'theme/assets/global/plugins/amcharts/amcharts/amcharts.js' %}" type="text/javascript"></script>#}
{#        <script src="{% static 'theme/assets/global/plugins/amcharts/amcharts/serial.js' %}" type="text/javascript"></script>#}
{#        <script src="{% static 'theme/assets/global/plugins/amcharts/amcharts/pie.js' %}" type="text/javascript"></script>#}
{#        <script src="{% static 'theme/assets/global/plugins/amcharts/amcharts/radar.js' %}" type="text/javascript"></script>#}
{#        <script src="{% static 'theme/assets/global/plugins/amcharts/amcharts/themes/light.js' %}" type="text/javascript"></script>#}
{#        <script src="{% static 'theme/assets/global/plugins/amcharts/amcharts/themes/patterns.js' %}" type="text/javascript"></script>#}
{#        <script src="{% static 'theme/assets/global/plugins/amcharts/amcharts/themes/chalk.js' %}" type="text/javascript"></script>#}
{#        <script src="{% static 'theme/assets/global/plugins/amcharts/ammap/ammap.js' %}" type="text/javascript"></script>#}
{#        <script src="{% static 'theme/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js' %}" type="text/javascript"></script>#}
{#        <script src="{% static 'theme/assets/global/plugins/amcharts/amstockcharts/amstock.js' %}" type="text/javascript"></script>#}
{#        <script src="{% static 'theme/assets/global/plugins/fullcalendar/fullcalendar.min.js' %}" type="text/javascript"></script>#}
        <script src="{% static 'theme/assets/global/plugins/horizontal-timeline/horizontal-timeline.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/assets/global/plugins/flot/jquery.flot.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/assets/global/plugins/flot/jquery.flot.resize.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/assets/global/plugins/flot/jquery.flot.categories.min.js' %}" type="text/javascript"></script>
{#        <script src="{% static 'theme/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js' %}" type="text/javascript"></script>#}
        <script src="{% static 'theme/assets/global/plugins/jquery.sparkline.min.js' %}" type="text/javascript"></script>
{#        <script src="{% static 'theme/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js' %}" type="text/javascript"></script>#}
{#        <script src="{% static 'theme/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js' %}" type="text/javascript"></script>#}
{#        <script src="{% static 'theme/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js' %}" type="text/javascript"></script>#}
{#        <script src="{% static 'theme/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js' %}" type="text/javascript"></script>#}
{#        <script src="{% static 'theme/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js' %}" type="text/javascript"></script>#}
{#        <script src="{% static 'theme/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js' %}" type="text/javascript"></script>#}
{#        <script src="{% static 'theme/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js' %}" type="text/javascript"></script>#}
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{% static 'theme/assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.15.0/sweetalert2.min.js" type="text/javascript"></script>
        <script src="{% static 'theme/assets/custom/prepare.js' %}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{% static 'theme/assets/pages/scripts/dashboard.min.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{% static 'theme/assets/layouts/layout4/scripts/layout.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/assets/layouts/layout4/scripts/demo.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/assets/layouts/global/scripts/quick-sidebar.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/assets/layouts/global/scripts/quick-nav.min.js' %}" type="text/javascript"></script>

        <script>
            function currentMenu($menu_id) {
                $('#left-nav-item-'+$menu_id).addClass('open');
                $('#left-nav-item-'+$menu_id+ ' .sub-menu').show();
            }
        </script>
        {% block js_block %}
        {% endblock %}
        {% block footer_container %}
        {% endblock %}
        <!-- END THEME LAYOUT SCRIPTS -->
        <script>
            $(document).ready(function()
            {
                $('#clickmewow').click(function()
                {
                    $('#radio1003').attr('checked', 'checked');
                });
            })
        </script>
    </body>

</html>