{% extends 'userprofile-base.html' %}
{% load static %}
{% load i18n %}
{#{% load return_objects %}#}
{% get_available_languages as languages %}
{% get_current_language as LANGUAGE_CODE %}

{% block title_container %}{% trans 'All customers' %}{% endblock %}

{% block head_container %}
        <link href="{% static 'theme/assets/apps/css/todo.min.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}


{% block content_container %}

            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="todo-main-header">
                        <h3>{% trans 'All customers' %}</h3>
                        <ul class="todo-breadcrumb">
                            <li>
                                <a href="{% url 'userprofile:dashboard' %}">{% trans 'Dashboard' %}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1 col-xs-12 col-sm-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-cursor font-dark hide"></i>
                                        <span class="caption-subject font-dark bold uppercase">{% trans 'Print Plan' %}</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a onclick="generatePlanPdf('','{{ csrf_token }}')" id="admin-pdf-plan-generate-button" data-ajax-url=""
                                               class="btn btn-md btn-circle red easy-pie-chart-reload" style="width: 100%;">
                                                <i class="fa fa-repeat"></i> {% trans 'Generate plan for plan out or Ctrl + R' %}
                                            </a>
                                        </div>
                                        <div class="col-md-12"><hr></div>
                                        <div class="col-md-12">
                                            <a href="{% url 'userprofile:all-customer-dates-generated' %}"
                                               class="btn btn-md btn-circle blue easy-pie-chart-reload" style="width: 100%;">
                                                <i class="fa fa-arrow-right"></i> {% trans 'Go to generated plan page' %}
                                            </a>
                                        </div>
                                        <div class="col-md-12" style="text-align: center;display: none;" id="admin-pdf-plan-generate-loader">
                                            <img style="height: 40px;" src="{% static 'theme/assets/custom/images/loading2.gif' %}">
                                        </div>
                                        <hr class="col-md-12"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="todo-container" id="work-plan-container" data-ajax-url="{% url 'userprofile:all-customer-dates' %}">
                    </div>

                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->

{% endblock %}


{% block footer_container %}

{% endblock %}
{% block js_block %}
    <script>
        var work_plan_container = $('#work-plan-container');
        var ajax_loader_url = '/static/theme/assets/custom/images/loading-gif-transparent-10.gif';
        var url = work_plan_container.attr( "data-ajax-url" );
        function employeePlansShow() {
        work_plan_container.html("<div class='text-center'><img style='margin: 10px auto;' src='" + ajax_loader_url + "'/></div>");
        $.post(url, {'csrfmiddlewaretoken': '{{ csrf_token }}'})
            .done(function (data) {
                var message_code = data['message_code'];
                var _html = data['_html'];
                if (message_code == 1){
                    work_plan_container.html(_html)
                }
            });
    }
    $( document ).ready(function() {
        employeePlansShow();
    });
    </script>
    <script>
        currentMenu('main-plan');
    </script>
{% endblock %}